{% extends 'base/index_forms.html' %}
{% load static %}

{% if user.is_authenticated %} 
{% if request.user.is_staff %}


{% block content %}


{% if  object_list|length == 0 %}
    <td><h2>Do not registers</h2></td>
{% endif %}


<div class="justify-content-center pt-5   bg-white small bg-opacity-75 text-black">
    <br><br>
     {% for tournament in tournaments %}
{% comment %} <h4 class="text-center pt-4" style="color:#A57F12; font-weight: bold;">{{tournament}}</h4>     {% endcomment %}
<div class=" container ">

   
    <form method="GET">
        <br>
        <h4 class="" style="color:green; font-weight: bold">{{tournament}}</h4>
        
        <div  style="overflow-x:auto; ">
            <table id = "" class="display compact table-light" >
                <thead>
                    <tr class="">
                        
                        <th>Name</th>
                        <th>Edad</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Day_Time</th>
                        <th>Division</th>
                        <th>Level</th>
                        <th>Partner</th>
                        <th>Parent</th>
                        <th>Email Parent</th>
                        <th>Phone Parent</th>
                        <th>payment $</th>

                    </tr>
                </thead>

                <tbody>
                    {% if registration_list %}
                    
                        {% for n in registration_list %}
                            {% if n.condition  %}
                            {% if tournament.id == n.tournament.id %}
                                <tr>
                                    <td scope="row">{{n.person.last_name|title}}, {{n.person.first_name|title}}</td>
                                    <td>{{n.person.get_age}}</td>
                                    <td>{{n.person.email|lower}}</td>
                                    <td>{{n.person.phone}}</td>
                                    <td >{{n.day_time}}</td>
                                    <td >{{n.division}}</td>
                                    <td >{{n.level}}</td>
                                    <td >{% if n.partner == None %}<p class="text-center"></p>{% else %} {{n.partner}}{% endif %}</td>
                                    <td >{% if n.parent == None %}<p class="text-center"></p>{% else %} {{n.parent}}{% endif %}</td>
                                    <td >{% if n.email_parent == None %}<p class="text-center"></p>{% else %} {{n.email_parent}}{% endif %}</td>
                                    <td >{% if n.phone_parent == None %}<p class="text-center"></p>{% else %} {{n.phone_parent}}{% endif %}</td>
                                    <td>{{n.payment_cost.price}}</td>
                                </tr>
                            {% endif %}    
                            {% endif %}
                        {% endfor %}
                    {% else%}
                        <tr>
                            <td><h2>Do not register</h2></td>
                        </tr>
                        
                    {% endif %}
                
                </tbody>
            </table>
            <br>
            <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" href={% url 'list_by_event' %}>Back</a>
            </div>

          <br>
        </div>
          <br>
    </form>   
    {% endfor %}
</div> 
</div>

   
{% endblock  %}          
{% endif %}       
{% endif %}

      
