<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     	<title>HTML email template</title>
     	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	
You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url password_reset_confirm uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: <h3><b> {{ user.username }}</b></h3>

Thanks for using our site!





    </body>
</html>



{% comment %} 

Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario es: <b>{{ users.username }}</b> {% endcomment %}






