{% extends 'base/index_forms.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %} {% block header %}
{% endblock %}


{% block content %}
{% endblock %} {% endcomment %}

{% block content %}


<div class="justify-content-center pt-5   bg-white small bg-opacity-50 text-black">
<br><br><br><br>
<div class=" container ">
<form  method="POST" class="needs-validation " enctype="multipart/form-data" >
{% csrf_token %}

    <div class="row-item">{#tournament#}
        <label> {{form.activities.label}}</label>
        <select name="activities" id="id_activities" class="form-control"  required>
            {% for a in activities %}
                <option value="{{a.id}}">{{a}}</option>
            {% endfor %} 
        </select>
    </div>
    <br>
    <div class="row-item"> {#comment about payment#}
        <label> {{form.first_name.label}}</label>
        <input class="form-control" placeholder=""{{form.first_name}} 
    </div>
    <br>
    <div class="row-item"> {#comment about payment#}
        <label> {{form.last_name.label}}</label>
        <input class="form-control" placeholder=""{{form.last_name}} 
    </div>
    <br>
    <div class="row-item"> {#comment about payment#}
        <label> {{form.email.label}}</label>
        <input class="form-control" placeholder=""{{form.email}} 
    </div>
    <br>
    <div class="row-item"> {#comment about payment#}
        <label> {{form.phone.label}}</label>
        <input class="form-control" placeholder=""{{form.phone}} 
    </div>
    <br>

<div class="d-flex justify-content-end">
                            
                        <a class="btn btn-secondary" href={% url 'activities' %}>Back</a>
                        &nbsp;    
                        <input class="w-10 btn btn-primary" type="submit" value="Save">
                    </div>

</form>
</div>
<br><br><br><br><br><br> 
</div>
{% block section %}
{% endblock %}     
{% endblock %}

