{% extends 'base/index_forms.html' %}
{% load static %}


{% block nav %}
{% endblock %}



{% block content %}


            <div class="container align-items-center justify-content-center">
                <div class="justify-content-center">
                    <div class="col-lg-6">
                    
                    <!-- Email input -->
                     
                    <div class="">
                      
                        {{ body|safe }}
                       
                        
                        
                    </div>
                    <br>
                    <div class="container justify-content-center">
                    <a class="btn btn-primary" href="https://wotc.pythonanywhere.com/users/accounts/login/"><b>Sign in</b></a>
                    
                    </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
      

{% endblock %}

{% block section %}
{% endblock %}


