<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Members</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'general/assets/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    </head>
    <body>
        <h1>A new event registration by: <b></b>{{person}}</b></h1>
        <h1>for the event: <b style="color:#F26B1E">{{event}}</b></h1>

        <h3>Please go to: </h3> <a class="btn btn-primary" href="https://wotc.pythonanywhere.com/admin"> <b style="color:green">Admin</b> </a></h3>


        <script src="" async defer></script>
        script>
    </body>
</html>